File based `jwt.JwkStore` Support ECDSA and MAC secret

## Problem Statement

Current `jwt.FileJwkStore` only support reading RSA keys. Based on [RFC 7518](https://datatracker.ietf.org/doc/rfc7518/), `jwt.FileJwkStore` need to support reading ECDSA keys and MAC secret from file, in order to allow signing algorithm like `HS256`, `ES256` 

## Proposed Solution

- `jwt.FileJwkStore` should be able to read and recognize ECDSA keys (private and public) from file
- `jwt.FileJwkStore` should be able to read and recognize MAC secret from file
- Optionally, `jwt.FileJwkStore` should be able to read encrypted private key file

## Alternatives Considered

None

## Additional Context

[JWK - RFC 7517](https://datatracker.ietf.org/doc/html/rfc7517)
[JWT - RFC 7519](https://datatracker.ietf.org/doc/html/rfc7519)
