Support JWT signing and verification using algorithm other than RS256/RS384/RS512

## Problem Statement

Currently, `security/oauth2/jwt` package only support JWT signing with RS algorithm using RSA keys. 

Other algorithms should be supported, per specified in [RFC 7518](https://www.rfc-editor.org/rfc/inline-errata/rfc7518.html) (JWS section):

| "alg" Param  | Digital Signature or MAC      | Implementation     |
|--------------|-------------------------------|--------------------|
| Value        | Algorithm                     | Requirements       |
| HS256        | HMAC using SHA-256            | Required           |
| HS384        | HMAC using SHA-384            | Optional           |
| HS512        | HMAC using SHA-512            | Optional           |
| RS256        | RSASSA-PKCS1-v1_5 using       | Recommended        |
|              | SHA-256                       |                    |
| RS384        | RSASSA-PKCS1-v1_5 using       | Optional           |
|              | SHA-384                       |                    |
| RS512        | RSASSA-PKCS1-v1_5 using       | Optional           |
|              | SHA-512                       |                    |
| ES256        | ECDSA using P-256 and SHA-256 | Recommended+       |
| ES384        | ECDSA using P-384 and SHA-384 | Optional           |
| ES512        | ECDSA using P-521 and SHA-512 | Optional           |
| PS256        | RSASSA-PSS using SHA-256 and  | Optional           |
|              | MGF1 with SHA-256             |                    |
| PS384        | RSASSA-PSS using SHA-384 and  | Optional           |
|              | MGF1 with SHA-384             |                    |
| PS512        | RSASSA-PSS using SHA-512 and  | Optional           |
|              | MGF1 with SHA-512             |                    |
| none         | No digital signature or MAC   | Optional           |
|              | performed                     |                    |

## Proposed Solution

As specified in [RFC 7518](https://www.rfc-editor.org/rfc/inline-errata/rfc7518.html) JWS (Section 3), following improvement need to be done:
- `jwt.JwtDecoder` should at least be able to verify JWT signature with JOSE header `alg` equals to `HS256`, `RS256` and `ES256`
- `jwt.JwtDecoder` should optionally support other signing method, such as `PS256`.
- `jwt.JwtEncoder` should be able to sign JWT with selected signing method, `HS256`, `RS256`, `ES256`, etc.
- `jwt.JwtEncoder` should be able to automatically choose signing method based on type of JWK or private key.
   e.g. if private key is a ECDSA with P-384 curve, ES384 should be using

## Alternatives Considered

JWE is good to have, but it's not focus of this issue.

## Additional Context

[JWK - RFC 7517](https://datatracker.ietf.org/doc/html/rfc7517)
[JWT - RFC 7519](https://datatracker.ietf.org/doc/html/rfc7519)
